services:
  airflow:
    build:
      context: .
      dockerfile: docker/Dockerfile.airflow
    container_name: spark-vs-ray-airflow
    ports:
      - "8080:8080"
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=False
      - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
    volumes:
      - ./dags:/opt/airflow/dags
      - ./:/opt/project
    command: ["/bin/bash", "/opt/airflow/entrypoint.sh"]



